<form onsubmit={{action "editQuestion"}}>
  <div>
    <label for="title">Title</label>
    {{input type="text" id="title" value=model.title}}
  </div>
  <div>
    <label for="description">Description</label>
    {{textarea rows="8" cols="80" value=model.description}}
  </div>
</form>