<h3 class="mt-5 pt-5 offset-1">Expert Advice</h3>
<p class="offset-1">Get answers to difficult questions</p>

<div class="offset-1 d-flex justify-content-between">
  <form>
    <input name="search" type="text" id="search" placeholder="Search" />
  </form>
  {{#link-to "create" class="btn btn-primary"}}
    Ask a question
  {{/link-to}}
</div>

<ul>
  {{#each model as |question|}}
    <li>
      {{#link-to "question" question.id}}
        {{question.title}}
      {{/link-to}}
      <button
        type="button"
        class="btn btn-danger"
        onclick={{action "deleteQuestion" question}}
      >
        Delete
      </button>
      {{#link-to "edit" question.id class="btn btn-warning"}}
        Edit
      {{/link-to}}
    </li>
  {{/each}}
</ul>
